<!DOCTYPE html>
<html>
<head>
  <title>Advanced Validation Example</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h3>Registration Form</h3>

<div>
  <form action="/process" method="POST">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email..">

    <label for="password">Password</label>
    <input type="password" id="password1" name="password" placeholder="Your password..">

    <label for="password_confirm">Confirm Password</label>
    <input type="password" id="password2" name="password_confirm" placeholder="Confirm password..">  

    <label for="birthday">Birthday</label><br>
    <input type="date" name="bday"><br>
  
    <input type="submit" value="Submit">
    {% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
    	<ul class=flashes>
    		{% for category, message in messages %}
     		 <li class="{{ category }}">{{ message }}</li>
    		{% endfor %}
   		</ul>
  		{% endif %}
	{% endwith %}
  </form>
</div>

</body>
</html>

</body>
</html>